body {
                width: 100%;
                height: 100%;
                margin: 0;
            }

            .geo-globe {
                fill: rgba(255,255,255,0.6);
                box-shadow: 10px 10px 5px #888888;
            }

            .geo-path {
                fill: #132a50; 
                stroke: #dddddd;
                stroke-width: 0.2;
            }

                .geo-path:hover {
                    fill: #3B5998;
                }

            .geo-node {
                stroke-width: 0.0;
                stroke: rgba(251,136,118, 0.66); 
                fill: rgba(251,136,118, 0.66); 
                
                cursor: pointer;                
            }

                .geo-node:hover {
                    stroke: rgba(251,136,118, 0.66); 
                    fill: #fff;

                }


.header{
height: 50px;
color: rgba(255,255,255,.5);
position: fixed;
top: 0;
font-family: 'Raleway', sans-serif;

}

.header h1{
    color: #666666;
}
